node_modules
plans
package.json
bun.lock
.gitignore
package-lock.json
references/
skills/*
!skills/effect/
!skills/effect/**
!skills/improve-codebase-architecture/
!skills/improve-codebase-architecture/**
